* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: aqua;
    height: 150px;
}

main {
    display: flex;
}

article {
    background-color: rgb(89, 0, 255);
    margin: 10px 5px 10px 10px;
    flex-grow: 2;
    height: 500px;
}

aside {
    background-color: rgb(110, 55, 55);
    margin: 10px 10px 10px 5px;
    flex-grow: 1;
}